/*==============================global==============================*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

h1,h2,h3,h4,h5 {
    text-align: center;
    margin-bottom: 20px;
}

body {
	//padding-top: 34px;
    color: #777;
    font-size: 18px;
}

//for flexbox sticky footer
html, body {
    height: 100%;
}

body {
    .main {
        //padding-bottom: 60px;
        //min-height: 100%;
		height: 100%;
    }
    //footer {
    //    display: flex;
    //    justify-content: space-around;
    //    padding: 11px;
    //    height: 60px;
    //    position: relative;
    //    margin-top: -60px;
    //    li {
    //        display: flex;
    //        align-items: center;
    //    }
    //
    //}
}

button {
	// display:block;
	// width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	// height: 34px;
	padding: 6px 12px;
	&:active {
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
		border: 1px solid black;
	}
	&:focus {
		outline: thin dotted;
		outline-offset: -2px;
	}
	&:hover, &:focus, &:active {
		background-color: #e6e6e6;
		border-color: #adadad;
		color: #333;
	}
}

p {
	//width: 238px;
	//padding: 0 20px;
	// text-align: center;
	font-weight: 300;
	line-height: 1.5em;
}

li {
	list-style-type: none;
	font-weight: 300;
	line-height: 1.5em;
}

select {
	// font-size: 22px;
	padding-top: 4px;
	width: 100%;
	height: 30px;
}

// input {
// 	padding: 0;
// 	margin: 0;
// 	border: 0;
// 	overflow: scroll;
// 	background: transparent;
// 	text-align: center;
// }

input {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	// color: #555;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	&:focus {
		border-color: #66afe9;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	}
}

input[type="checkbox"] {
	height: 34px;
	width: 34px;
	margin: 0;
}

// table {
// 	width: 100%;
// }

// table input {
// 	width: 100%;
// }



th, table {
	text-align: center;
}

caption {
	padding: 8px;
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
}

