#about {
    background: url('/img/About/about-quality5.jpg') no-repeat center center;
    @include backgroundImage;
    height: 100%;
    position: relative;
    @include text;
    .gradient-cover {
        background: linear-gradient(to right, transparent 42%, rgba(0, 0, 0, 0.7) 53%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0.9) 85%, rgba(0, 0, 0, 1) 95%);
    }
    .text {
        padding-top: 31px;
        max-width: 707px;
        max-height: 100%;
        color: white;
        //position: absolute;
        //right: 40px;
        font-size: 20px;
        text-align: center;
        p:not(:last-child) {
            margin-bottom: 26px;
        }
        h1 {
            font-size: 60px;
            margin-bottom: 30px;
        }
        @include link;
    }
    @media (max-width: 320px) {
        @include text;
        .text {
            padding-top: 19px;
            right: 0;
            text-align: left;
            .accordion-text {
                margin-left: 0;
            }
        }
    }
    .scrollbar-container {
        .mCSB_container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .mCSB_draggerContainer {
            .mCSB_dragger {
                .mCSB_dragger_bar {
                    background: white;
                }
            }
        }
        //To stop text overlapping the navbar and the footer
        top: 37px;
        height: calc(100% - 65px);
    }
}