#about {
    background: url('/img/About/about-quality5.jpg') no-repeat center center;
    @include backgroundImage;
    position: relative;
    @include text;
    .gradient-cover {
        background: linear-gradient(to right, transparent 42%, rgba(0, 0, 0, 0.7) 53%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0.9) 85%, rgba(0, 0, 0, 1) 95%);
    }
    .text {
        max-width: 700px;
        max-height: 100%;
        color: white;
        position: absolute;
        right: 40px;
        font-size: 20px;
        text-align: center;
        p:not(:last-child) {
            margin-bottom: 26px;
        }
        h1 {
            font-size: 60px;
            margin-bottom: 30px;
        }
    }
}