#contact {
    //background: url('/img/Contact/map.jpg') no-repeat center center;
    //@include backgroundImage;
    position: relative;
    height: 100%;
    .map {
        height: 100%;
        padding-top: 37px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .text-container {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        position: absolute;
        bottom: 80px;
        width: 100%;
        .text {
            background: black;
            opacity: .8;
            padding: 40px;
            color: white;
            position: relative;
            transition: all 1s ease;
            //height: 400px;
            //width: 500px;
            &.collapsed {
                padding: 10px;
                h1 {
                    margin-bottom: 0;
                }
                //height: 60px;
                //width: 100px;
            }
            .fa-minus-square, .fa-plus-square {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
            }
            .details {
                //transition: all 1s ease;
                //height: 200px;
                //width: auto;
                //&.collapsed {
                //    //width: 0;
                //    height: 0;
                //}
                .flex {
                    display: flex;
                    justify-content: space-around;
                    > :first-child {
                        text-align: right;
                        border-right: .5px solid white;
                    }
                    > :last-child {
                        //border-left: 1px solid white;
                    }
                    .fa-at {
                        font-size: 12px;
                    }
                    > * {
                        padding: 0 20px;
                    }
                    a {
                        color: white;
                    }
                    .day-and-time-container {
                        display: flex;
                        white-space: nowrap;
                        div:first-child {
                            width: 56px;
                        }
                    }
                }
                .consultations-msg-container {
                    display: flex;
                    justify-content: center;
                    .consultations-msg {
                        font-size: 15px;
                        //position: absolute;
                        //left: 0;
                        //right: 0;
                        //bottom: 10px;
                        //text-align: center;
                    }
                }

            }
        }
    }

}