@mixin contactBoxTransition {
    transition: all 1s ease;
}

#contact {
    //background: url('/img/Contact/map.jpg') no-repeat center center;
    //@include backgroundImage;
    position: relative;
    height: 100%;
    .map {
        height: 100%;
        padding-top: 37px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .text-container {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        position: absolute;
        bottom: 80px;
        width: 100%;
        .text {
            background: black;
            opacity: .8;
            padding: 40px 40px 0px 40px;
            color: white;
            position: relative;
            @include contactBoxTransition;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //.buttons {
            //    position: relative;
            //}
            //height: 400px;
            //width: 500px;
            h1 {
                @include contactBoxTransition;
                font-size: 36px;
            }
            &.collapsed {
                padding: 10px 33px 10px 10px;
                border-radius: 4px;
                h1 {
                    margin-bottom: 0;
                    font-size: 16px;
                }
            }
            .fa-minus-square, .fa-plus-square {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
            }
            .details {
                .flex {
                    display: flex;
                    justify-content: space-around;
                    > :first-child {
                        text-align: right;
                        border-right: .5px solid white;
                    }
                    > :last-child {
                        //border-left: 1px solid white;
                    }
                    .fa-at {
                        font-size: 12px;
                    }
                    > * {
                        padding: 0 20px;
                    }
                    a {
                        color: white;
                    }
                    .day-and-time-container {
                        display: flex;
                        white-space: nowrap;
                        div:first-child {
                            width: 56px;
                        }
                    }
                }
                .consultations-msg-container {
                    display: flex;
                    justify-content: center;
                    padding: 20px 0 10px 0;
                    .consultations-msg {
                        font-size: 15px;
                    }
                }

            }
        }
    }

}