#contact {
    //background: url('/img/Contact/map.jpg') no-repeat center center;
    //@include backgroundImage;
    position: relative;
    height: 100%;
    .map {
        height: 100%;
        padding-top: 37px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .text-container {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        position: absolute;
        bottom: 40px;
        width: 100%;
        .text {
            background: black;
            opacity: .8;
            padding: 40px;
            color: white;
            .flex {
                display: flex;
                justify-content: space-around;
                > :first-child {
                    text-align: right;
                    border-right: .5px solid white;
                }
                > :last-child {
                    //border-left: 1px solid white;
                }
                .fa-at {
                    font-size: 12px;
                }
                > * {
                    padding: 0 20px;
                }
                a {
                    color: white;
                }
                .day-and-time-container {
                    display: flex;
                    div:first-child {
                        width: 56px;
                    }
                }
            }
        }
    }

}