
#home {
    background: url('/img/Home/Layer 2.svg') no-repeat left top fixed, url('/img/Home/Layer 1.jpg') no-repeat left top fixed;
    //background: url('/img/Home/spring-small.jpg') no-repeat left top fixed;
    @include backgroundImage;
    @include cover;
    position: relative;
    .fa-chevron-circle-down {
        @include arrow;
    }
    .text {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        width: 100%;
        height: 100%;
    }
    //.text {
    //    color: white;
    //    font-size: 50px;
    //    left: 154px;
    //    position: absolute;
    //    text-align: center;
    //    top: 121px;
    //    .thrive-for-life {
    //        font-family: 'Annie Use Your Telescope';
    //        font-size: 84px;
    //    }
    //    .chiropractic {
    //        font-family: 'Nanum Pen Script';
    //    }
    //}
}

#welcome {
    @include backgroundImage;
    position: relative;
    .fa-chevron-circle-up {
        @include arrow;
    }
    .flex {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        > * {
            margin: 0 60px;
        }
    }
    .background-img {
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .text {
        text-align: center;
        max-width: 327px;
        i {
            font-weight: bold;
        }
    }
    .img-container {
        img {
            width: 400px;
            height: 400px;
        }
    }
    //&:after {
    //    content: "";
    //    background: url('/img/Home/spring.jpg') no-repeat center center;
    //    opacity: 0.2;
    //    top: 0;
    //    left: 0;
    //    bottom: 0;
    //    right: 0;
    //    position: absolute;
    //    z-index: -1;
    //}
}

#chiropractic {
    background: url('/img/Chiropractic/balance.jpg') no-repeat center center;
    @include backgroundImage;
    //transform: scaleX(-1);
    .text {
        width: 600px;
        color: white;
        padding: 40px;
    }
}

#ak {
    background: url('/img/AK/walk.jpg') no-repeat center center;
    @include backgroundImage;
    position: relative;
    .text {
        max-width: 468px;
        position: absolute;
        bottom: 50px;
        //left: 222px;
        left: 10%;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#rnr {
    background: url('/img/RNR/child.jpg') no-repeat center center;
    @include backgroundImage;
    .text {
        max-width: 800px;
        color: white;
        padding: 40px;
        h1 {
            text-align: left;
        }
    }
}

#lifestyle {
    background: url('/img/Lifestyle/hiker.jpg') no-repeat center center;
    @include backgroundImage;
    .text {
        color: white;
        max-width: 600px;
        padding: 40px;
        h1 {
            text-align: left;
        }
    }
}

#hra {
    background: url('/img/HRA/tape.jpg') no-repeat center center;
    @include backgroundImage;
    .text {
        max-width: 700px;
        padding: 40px;
        h1 {
            text-align: left;
        }
    }
}

#government {
    background: url('/img/Government/meadow.jpg') no-repeat center center;
    @include backgroundImage;
    .text {
        max-width: 700px;
        padding: 40px;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#about {
    background: url('/img/About/about.jpg') no-repeat center center;
    @include backgroundImage;
    position: relative;
    .text {
        max-width: 700px;
        max-height: 100%;
        overflow:scroll;
        padding: 40px;
        color: white;
        position: absolute;
        right: 40px;
        p {
            font-size: 8.6px;
        }
    }
}

#contact {
    background: url('/img/Contact/map.jpg') no-repeat center center;
    @include backgroundImage;
    position: relative;
    .text-container {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        .text {
            background: black;
            opacity: .8;
            padding: 40px;
            color: white;
            //position: absolute;
            //left: 0;
            //right: 0;
            //margin: auto;
        }
    }

}