@include cover;
@include gradientCover;
@include accordion;

.current-page {
    text-decoration: underline;
}

#preloaded-images {
    display: flex;
    position: absolute;
    height: 0;
    width: 0;
}

#home-page-container {
    height: 100%;
    #home {
        background: url('/img/Home/Layer 2.svg') no-repeat left top, url('/img/Home/Layer 3.svg') no-repeat left top fixed, url('/img/Home/spring-small-compressed.jpg') no-repeat left top fixed;
        //background: url('/img/Home/spring-small.jpg') no-repeat left top fixed;
        @include backgroundImage;
        @include cover;
        @include animatedArrow;
        position: relative;
        a {
            color: inherit;
        }
        //.fa-chevron-circle-down {
        //    @include arrow;
        //}
        @include arrow;
        .text {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            width: 100%;
            height: 100%;
        }
    }

    #welcome {
        background: url('/img/Home/spring-small-compressed.jpg') no-repeat left top fixed;
        @include cover;
        .cover {
            background: white;
            opacity: .85;
            position: absolute;
        }
        @include backgroundImage;
        position: relative;
        font-size: 28px;
        a {
            color: inherit;
        }
        //.fa-chevron-circle-up {
        //    @include arrow;
        //}
        @include arrow;
        .arrow {
            transform: rotate(180deg);
        }
        .flex {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            > * {
                margin: 0 60px;
            }
        }
        .scrollbar-container {
            //margin: 62px;
            //padding-top: $navHeight;
            max-width: 540px;
            padding-top: 38px;
            display: flex;
            align-items: center;
            //max-height: 100%;
            .text {
                max-height: 100%;
                text-align: center;
                color: black;
                h1 {
                    font-size: 77px;
                    margin-bottom: 37px;
                }
                p {
                    margin-bottom: 31px;
                }
                i {
                    font-weight: bold;
                }
            }
        }
        .img-container {
            margin-top: $navHeight;
            img {
                width: 480px;
                border-radius: 50%;
                height: 480px;
            }
        }
    }
}