@include cover;
@include gradientCover;

.current-page {
    text-decoration: underline;
}

.service {
    .tabs {
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 100%;
        top: 34px;
        z-index: 9;
        font-family: 'Josefin Sans';
        .tab {
            background: rgba(0,0,0,.55);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            flex-grow: 1;
            margin: 0 11px;
            text-align: center;
            a {
                color: white;
            }
        }
    }
}

.slider-navigation {
    //background: pink;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 30px;
    .slider-navigation-item {
        transition: all, .5s, ease;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        margin: 5px 10px;
        box-shadow: -9px 0px 7px black inset;
        position: relative;
        bottom: 0;
        &.current-step {
            width: 30px;
            height: 30px;
            bottom: 5px;
        }
    }
}

#home {
    background: url('/img/Home/Layer 2.svg') no-repeat left top, url('/img/Home/Layer 3.svg') no-repeat left top fixed, url('/img/Home/spring-small-compressed.jpg') no-repeat left top fixed;
    //background: url('/img/Home/spring-small.jpg') no-repeat left top fixed;
    @include backgroundImage;
    @include cover;
    position: relative;
    a {
        color: inherit;
    }
    .fa-chevron-circle-down {
        @include arrow;
    }
    .text {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        width: 100%;
        height: 100%;
    }
}

#welcome {
    @include backgroundImage;
    position: relative;
    a {
        color: inherit;
    }
    .fa-chevron-circle-up {
        @include arrow;
    }
    .flex {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        > * {
            margin: 0 60px;
        }
    }
    .background-img {
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .text {
        text-align: center;
        max-width: 480px;
        color: black;
        h1 {
            font-size: 64px;
            margin-bottom: 34px;
        }
        p {
            font-size: 27px;
        }
        i {
            font-weight: bold;
        }
    }
    .img-container {
        img {
            width: 400px;
            border-radius: 50%;
            height: 400px;
        }
    }
    //&:after {
    //    content: "";
    //    background: url('/img/Home/spring.jpg') no-repeat center center;
    //    opacity: 0.2;
    //    top: 0;
    //    left: 0;
    //    bottom: 0;
    //    right: 0;
    //    position: absolute;
    //    z-index: -1;
    //}
}

#chiropractic {
    background: url('/img/Chiropractic/balance-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .text {
        width: 600px;
        color: white;
    }
}

#ak {
    background: url('/img/AK/walk-small-compressed.jpg') no-repeat left bottom;
    @include backgroundImage;
    position: relative;
    .text {
        max-width: 468px;
        position: absolute;
        bottom: 50px;
        //left: 222px;
        left: 10%;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#rnr {
    background: url('/img/RNR/child-small-compressed.jpg') no-repeat right center;
    @include backgroundImage;
    @include text;
    .text {
        max-width: 800px;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#lifestyle {
    background: url('/img/Lifestyle/hiker-small-compressed.jpg') no-repeat left center;
    @include backgroundImage;
    @include text;
    .text {
        color: white;
        max-width: 600px;
        h1 {
            text-align: left;
        }
    }
}

#hra {
    background: url('/img/HRA/tape-small-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include gradientCoverWhite;
    @include text;
    .text {
        max-width: 700px;
        color: black;
        h1 {
            text-align: left;
        }
    }
}

#government {
    background: url('/img/Government/meadow-small-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .text {
        max-width: 700px;
        padding: 40px;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#about {
    background: url('/img/About/about.jpg') no-repeat center center;
    @include backgroundImage;
    position: relative;
    @include text;
    @include accordion;
    .text {
        max-width: 700px;
        max-height: 100%;
        overflow:scroll;
        color: white;
        position: absolute;
        right: 40px;
    }
}

#contact {
    //background: url('/img/Contact/map.jpg') no-repeat center center;
    //@include backgroundImage;
    position: relative;
    height: 100%;
    .map {
        height: 100%;
        padding-top: 34px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .text-container {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        position: absolute;
        bottom: 40px;
        width: 100%;
        .text {
            background: black;
            opacity: .8;
            padding: 40px;
            color: white;
            .flex {
                display: flex;
                justify-content: space-around;
                .fa-at {
                    font-size: 12px;
                }
                > * {
                    margin: 0 20px;
                }
            }
        }
    }



    //#contact {
    //    h1,h2,h3,h4,h5 {
    //        text-align: left;
    //    }
    //    a {
    //        color: $base;
    //    }
    //    p {
    //        font-weight: 400;
    //        font-size: 20px;
    //        max-width: 700px;
    //        margin: 0 auto 10px;
    //    }
    //    .flex {
    //        display: flex;
    //        flex-direction: column;
    //        //        justify-content: center;
    //        align-items: center;
    //    }
    //}

}