@include cover;
@include gradientCover;
@include accordion;

.current-page {
    text-decoration: underline;
}

#preloaded-images {
    display: flex;
    position: absolute;
    height: 0;
    width: 0;
}

#home-page-container {
    height: 100%;
    #home {
        background: url('/img/Home/Layer 2.svg') no-repeat left top, url('/img/Home/Layer 3.svg') no-repeat left top fixed, url('/img/Home/spring-small-compressed.jpg') no-repeat left top fixed;
        //background: url('/img/Home/spring-small.jpg') no-repeat left top fixed;
        @include backgroundImage;
        @include cover;
        position: relative;
        a {
            color: inherit;
        }
        //.fa-chevron-circle-down {
        //    @include arrow;
        //}
        @include arrow;
        .text {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            width: 100%;
            height: 100%;
        }
    }

    #welcome {
        background: url('/img/Home/spring-small-compressed.jpg') no-repeat left top fixed;
        @include cover;
        .cover {
            background: white;
            opacity: .75;
            position: absolute;
        }
        @include backgroundImage;
        position: relative;
        font-size: 30px;
        a {
            color: inherit;
        }
        //.fa-chevron-circle-up {
        //    @include arrow;
        //}
        @include arrow;
        .arrow {
            transform: rotate(180deg);
        }
        .flex {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            > * {
                margin: 0 60px;
            }
        }
        //.background-img {
        //    opacity: 0.2;
        //    top: 0;
        //    left: 0;
        //    bottom: 0;
        //    right: 0;
        //    position: fixed;
        //    z-index: -1;
        //    width: 100%;
        //    height: 100%;
        //}
        .text {
            margin: 62px;
            margin-top: $navHeight;
            max-height: 100%;
            overflow: scroll;
            text-align: center;
            max-width: 540px;
            color: black;
            h1 {
                font-size: 76px;
                margin-bottom: 34px;
            }
            p {
                margin-bottom: 28px;
            }
            i {
                font-weight: bold;
            }
        }
        .img-container {
            img {
                margin-top: $navHeight;
                width: 500px;
                border-radius: 50%;
                height: 500px;
            }
        }
    }
}

#chiropractic {
    background: url('/img/Chiropractic/balance-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .text {
        width: 600px;
        color: white;
        height: 100%;
    }
}

#ak {
    background: url('/img/AK/walk-small-compressed.jpg') no-repeat left bottom;
    @include backgroundImage;
    position: relative;
    .text {
        max-width: 468px;
        position: absolute;
        bottom: 50px;
        //left: 222px;
        left: 10%;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#rnr {
    background: url('/img/RNR/child-small-compressed.jpg') no-repeat right center;
    @include backgroundImage;
    @include text;
    .text {
        max-width: 800px;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#lifestyle {
    background: url('/img/Lifestyle/hiker-small-compressed.jpg') no-repeat left center;
    @include backgroundImage;
    @include text;
    .text {
        color: white;
        max-width: 600px;
        h1 {
            text-align: left;
        }
    }
}

#hra {
    background: url('/img/HRA/tape-small.jpg') no-repeat center center;
    @include backgroundImage;
    @include gradientCoverWhite;
    @include text;
    .text {
        max-width: 700px;
        color: black;
        h1 {
            text-align: left;
        }
    }
}

#government {
    background: url('/img/Government/meadow-small-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .text {
        max-width: 700px;
        padding: 40px;
        color: white;
        h1, h5 {
            text-align: left;
        }
    }
}

#about {
    background: url('/img/About/about-quality5.jpg') no-repeat center center;
    @include backgroundImage;
    position: relative;
    @include text;
    .text {
        max-width: 700px;
        max-height: 100%;
        overflow:scroll;
        color: white;
        position: absolute;
        right: 40px;
    }
}

#contact {
    //background: url('/img/Contact/map.jpg') no-repeat center center;
    //@include backgroundImage;
    position: relative;
    height: 100%;
    .map {
        height: 100%;
        padding-top: 34px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .text-container {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        position: absolute;
        bottom: 40px;
        width: 100%;
        .text {
            background: black;
            opacity: .8;
            padding: 40px;
            color: white;
            .flex {
                display: flex;
                justify-content: space-around;
                .fa-at {
                    font-size: 12px;
                }
                > * {
                    margin: 0 20px;
                }
            }
        }
    }

}