#privacy-policy-popup {
    max-width: 700px;
    ul {
        margin-bottom: 10px;
        padding-left: 24px;
    }
    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
    h2 {
        font-family: "Josefin Sans";
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .last-update {
        margin-bottom: 50px;
    }
    .sincerely {
        font-style: italic;
    }
}