.services {
    a {
        color: $base;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        max-width: 700px;
        margin: 0 auto 10px;
    }
}

#chiropractic {
    background: url('/img/Chiropractic/balance-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .text {
        width: 600px;
        color: white;
        height: 100%;
    }
}

#ak {
    background: url('/img/AK/walk-small-compressed.jpg') no-repeat left bottom;
    @include backgroundImage;
    position: relative;
    .text {
        max-width: 468px;
        position: absolute;
        bottom: 50px;
        //left: 222px;
        left: 10%;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#rnr {
    background: url('/img/RNR/child-small-compressed.jpg') no-repeat right center;
    @include backgroundImage;
    @include text;
    .text {
        max-width: 800px;
        color: white;
        h1 {
            text-align: left;
        }
    }
}

#lifestyle {
    background: url('/img/Lifestyle/hiker-small-compressed.jpg') no-repeat left center;
    @include backgroundImage;
    @include text;
    .text {
        color: white;
        max-width: 600px;
        h1 {
            text-align: left;
        }
    }
}

#hra {
    background: url('/img/HRA/tape-small.jpg') no-repeat center center;
    @include backgroundImage;
    @include gradientCoverWhite;
    @include text;
    .gradient-cover-white {
        opacity: 1;
        background: linear-gradient(to left, transparent 25%, rgba(255, 255, 255, 0.75) 55%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 1) 95%);
    }
    .text {
        margin-top: 18px;
        padding: 58px;
        max-width: 700px;
        color: black;
        h1 {
            text-align: left;
            font-size: 53px;
            margin-bottom: 30px;
        }
    }
}

#government {
    background: url('/img/Government/meadow-small-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .text {
        max-width: 700px;
        padding: 40px;
        color: white;
        h1, h5 {
            text-align: left;
        }
    }
}