#welcome {
    background: url('/img/Home/spring-small-compressed.jpg') no-repeat left top fixed;
    @include backgroundImage;
    @include cover;
    .cover {
        background: white;
        opacity: .85;
        position: absolute;
    }
    position: relative;
    font-size: 28px;
    a {
        color: inherit;
    }
    @include arrow;
    .flex {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        > * {
            margin: 0 60px;
        }
        @media (max-width: $breakpoint3) {
            flex-direction: column;

        }
    }
    .scrollbar-container {
        padding-top: $navHeight + 20px;
        max-width: 540px;
        display: flex;
        align-items: center;
        @media (max-width: $breakpoint3) {
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
            align-items: flex-start;
            height: auto;
        }
        @media (max-width: $breakpoint1) {
            height: 100%;
        }
        .big-screens {
            @media (max-width: $breakpoint1) {
                display: none;
            }
        }
        .small-screens {
            display: none;
            margin-bottom: 20px;
            @media (max-width: $breakpoint1) {
                display: flex;
                justify-content:center;
                align-items: center;
            }
            h1 {
                margin-right: 25px;
                @media (max-width: $breakpoint4) {
                    margin-right: 15px;
                }
                margin-bottom: 0 !important;
            }
            img {
                width: 80px;
                border-radius: 50%;
                @media (max-width: $breakpoint4) {
                    width: 44px;
                }
            }
        }
        .text {
            max-height: 100%;
            text-align: center;
            color: black;
            h1 {
                font-size: 77px;
                margin-bottom: 37px;
                @media (max-width: $breakpoint3) {
                    margin-bottom: 20px;
                }
                @media (max-width: $breakpoint1) {
                    font-size: 40px;
                }
            }
            p {
                margin-bottom: 31px;
                @media (max-width: $breakpoint4) {
                    font-size: 24px;
                    margin-bottom: 24px;
                }
                @media (max-width: $breakpoint3) {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                @media (max-width: $breakpoint1) {
                    font-size: 17px;
                }
            }
            i {
                font-weight: bold;
            }
        }
    }
    .img-container {
        margin-top: $navHeight;
        img {
            width: 480px;
            border-radius: 50%;
            //height: 480px;
            height: auto;
            max-width: 100%;
            @media (max-width: $breakpoint4) {
                width: 400px;
                //height: 400px;
            }
        }
        @media (max-width: $breakpoint3) {
            margin-bottom: 68px;
            margin-top: 12px;
            img {
                max-width: 380px;
            }
        }
        @media (max-width: $breakpoint1) {
            display: none;
        }
    }

}