
#welcome-page {
    background: url('/img/Home/spring-small-compressed.jpg') no-repeat left top;
    @include backgroundImage;
    @include cover(white, .85);

    font-size: 14px;
    font-size: 3vmin;

    a {
        color: inherit;
    }

    .flex {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: $navHeight;
        padding-bottom: $footerHeight;
        > * {
            width: 50%;
            text-align: center;
            padding: 0 4%;
        }
    }

    .text-container {
        max-width: 540px;
        display: flex;
        margin: 0;
        align-items: flex-start;
        height: auto;
        .small-screens {
            display: none;
            margin-bottom: 20px;
            h1 {
                margin-right: 25px;
                margin-bottom: 0 !important;
            }
            img {
                width: 80px;
                border-radius: 50%;
            }
        }
        .text {
            max-height: 100%;
            text-align: center;
            color: black;
            h1 {
                font-size: 77px;
                font-size: 12vmin;
                margin-bottom: 37px;
            }
            p {
                margin-bottom: 31px;
            }
            i {
                font-weight: bold;
            }
        }
    }

    .img-container {
        img {
            width: 97%;
            border-radius: 50%;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
    
    @media (orientation: portrait) {
        .flex {
            flex-direction: column;
            > * {
                height: 50%;
                width: 100%;
                //text-align: center;
                padding: 5% 20px;
            }
            .text-container {
                max-width: none;
                padding-top: 20px;
            }
            .img-container {
                img {
                    width: auto;
                }
            }
        }
    }

    //Breakpoint 4
    //@media (max-width: $breakpoint4) {
    //    .text {
    //        p {
    //            font-size: 24px;
    //            margin-bottom: 24px;
    //        }
    //    }
    //    .img-container {
    //        img {
    //            width: 400px;
    //        }
    //    }
    //}

    // < Breakpoint 3
    //@media (max-width: $breakpoint3) {
    //    .text-container {
    //        max-height: 555px;
    //        margin: 0;
    //        padding-left: 20px;
    //        padding-right: 20px;
    //        align-items: flex-start;
    //        height: auto;
    //        padding-top: $navHeight;
    //        align-items: center;
    //        height: calc(100% - 65px);

    //    }
    //    .text {
    //        h1 {
    //            margin-bottom: 20px;
    //        }
    //        p {
    //            &:last-child {
    //                margin-bottom: 0;
    //            }
    //        }
    //    }
    //    .img-container {
    //        margin-bottom: 68px;
    //        margin-top: 23px;
    //        img {
    //            max-width: 343px;
    //        }
    //    }
    //    .flex {
    //        flex-direction: column;
    //    }
    //}

    //Breakpoint 1
    @media (max-width: $breakpoint1) {
        .text {
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 17px;
            }
        }
        .text-container {
            height: 100%;
            .big-screens {
                display: none;
            }
            .small-screens {
                display: flex;
                justify-content:center;
                align-items: center;
                @media (max-width: $breakpoint4) {
                    h1 {
                        margin-right: 15px;
                    }
                    img {
                        width: 44px;
                    }
                }
            }
        }
        .img-container {
            display: none;
        }
        .flex {
            > * {
                margin: 0 60px;
            }
        }
    }

}