/*==============================global==============================*/
html, body {
  max-width: 100%;
  margin: 0; }

h1, h2, h3, h4, h5 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Annie Use Your Telescope'; }

body {
  color: #777;
  font-size: 18px;
  font-family: 'Josefin Sans'; }

html, body {
  height: 100%; }

body .main {
  height: 100%; }

button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  font-size: 14px;
  padding: 6px 12px; }
  button:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    border: 1px solid black; }
  button:focus {
    outline: thin dotted;
    outline-offset: -2px; }
  button:hover, button:focus, button:active {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333; }

p {
  font-weight: 300;
  line-height: 1.5em; }

li {
  list-style-type: none;
  font-weight: 300;
  line-height: 1.5em; }

select {
  padding-top: 4px;
  width: 100%;
  height: 30px; }

input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px; }
  input:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input[type="checkbox"] {
  height: 34px;
  width: 34px;
  margin: 0; }

th, table {
  text-align: center; }

caption {
  padding: 8px;
  font-weight: bold; }

ul {
  margin: 0;
  padding: 0; }

#navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  opacity: .55;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Josefin Sans'; }
  #navbar img.logo {
    height: 20px;
    width: 15px; }
  #navbar > li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 34px; }
    #navbar > li.current-page {
      text-decoration: underline; }
    #navbar > li:not(:first-child) {
      min-width: 120px; }
    #navbar > li > a {
      transition: all 0.5s ease;
      color: white; }
      #navbar > li > a:focus {
        outline: none; }
    #navbar > li:hover > a {
      font-size: 25px; }
    #navbar > li .dropdown-menu a {
      color: #777; }
      #navbar > li .dropdown-menu a:hover {
        background: #41b920;
        color: white; }
  #navbar a {
    font-weight: bold; }
  #navbar .gravatar-li {
    min-width: 160px; }
    #navbar .gravatar-li .gravatar-container {
      margin-left: 5px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #navbar .gravatar-li .gravatar-container .gravatar {
        border-radius: 8px;
        height: 32px; }

.error_message {
  font-size: 17px;
  position: fixed;
  text-align: center;
  top: 52px;
  width: 100%;
  background: #ff6666;
  padding: 3px 8px;
  cursor: pointer; }

/*==============================font awesome==============================*/
.fa {
  font-size: 24px; }

.fa-edit {
  visibility: hidden;
  cursor: pointer; }

.delete_tag, .delete_account {
  visibility: hidden;
  cursor: pointer; }

.delete {
  padding: 0 !important;
  border: none !important;
  color: red;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  height: 100%;
  background: none !important;
  border: none; }
  .delete.delete-transaction {
    height: 14px;
    left: 0;
    top: -4px;
    line-height: 100%; }
  .delete.delete_budget {
    right: 0;
    top: -4px; }

.popup-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999; }
  .popup-outer .popup-inner {
    position: relative;
    border-radius: 5px;
    margin-top: 10%;
    background: white;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto; }
    .popup-outer .popup-inner .close-modal {
      position: absolute;
      bottom: 10px;
      right: 10px; }

@media all and (min-width: 680px) {
  .popup-inner {
    padding: 22px; } }

.checkbox-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.cb-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .cb-container .label-text {
    padding: 0px 5px; }

.cb-slider-wrapper {
  width: 38px;
  height: 16px;
  border-radius: 8px;
  background: black;
  position: relative; }
  .cb-slider-wrapper input {
    visibility: hidden; }
  .cb-slider-wrapper label span.label-icon {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    cursor: pointer;
    transition: all, 0.5s, ease; }
  .cb-slider-wrapper input:checked + label span.label-icon {
    background: green;
    left: 23px; }

.cb-fa-wrapper {
  width: 40px;
  height: 40px;
  position: relative; }
  .cb-fa-wrapper input {
    visibility: hidden; }
  .cb-fa-wrapper label {
    text-align: center;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: all, 0.5s, ease; }
    .cb-fa-wrapper label i {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      color: green;
      font-size: 24px;
      opacity: .2; }
  .cb-fa-wrapper input:checked + label i {
    opacity: 1; }

.pointer {
  cursor: pointer; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

.margin-bottom {
  margin-bottom: 15px; }

.border-box {
  box-sizing: border-box; }

.btn-xs {
  font-size: 8px;
  padding: 1px; }

.bubble-row {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .bubble-row > * {
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 280px; }

.font-size-sm {
  font-size: 15px; }

.font-size-md {
  font-size: 20px; }

.min-width-md {
  min-width: 40px; }

.max-width-sm {
  max-width: 20px; }

.max-width-md {
  max-width: 40px; }

.max-width-lg {
  max-width: 80px; }

.width-100 {
  width: 100%; }

.height-100 {
  height: 100%; }

.relative {
  position: relative; }

.absolute-right {
  position: absolute;
  right: 0; }

.my-btn-dropdown {
  width: 124px; }
  .my-btn-dropdown button {
    width: 100%; }
  .my-btn-dropdown ul {
    position: absolute;
    width: 124px;
    text-align: right; }

.my-row {
  height: 34px;
  position: relative; }

.my-input-group input, .my-input-group button {
  display: block;
  width: 100%; }

.my-btn-group {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; }
  .my-btn-group button {
    display: block;
    width: 100%; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px 15px; }
  .row > * {
    margin: 15px 15px; }

.col-sm-2 {
  -webkit-flex-basis: 135px;
  -ms-flex-preferred-size: 135px;
  flex-basis: 135px; }

.flex-parent {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; }

.flex-grow-1 {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1; }

.flex-grow-2 {
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-flex-grow: 2; }

.flex-basis-xs {
  -ms-flex-preferred-size: 20px;
  flex-basis: 20px;
  -webkit-flex-basis: 20px; }

.flex-basis-sm {
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
  -webkit-flex-basis: 40px; }

.flex-basis-md {
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  -webkit-flex-basis: 80px; }

#logo {
  text-align: center;
  font-family: 'avenir next condensed';
  margin-top: 30px;
  font-size: 100px; }
  #logo #logo-upper {
    color: #41b920;
    text-shadow: 3px 3px 5px #bcbcbc; }
    #logo #logo-upper .word1, #logo #logo-upper .word3 {
      font-weight: 900; }
  #logo #logo-lower {
    visibility: hidden;
    margin-top: -25px;
    font-size: 34px;
    color: #777; }
    #logo #logo-lower span:not(:last-child) {
      margin-right: 35px; }

.cover {
  background: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed; }

.gradient-cover {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(to right, transparent 45%, black 60%); }

#home {
  background: url("/img/Home/Layer 2.svg") no-repeat left top, url("/img/Home/Layer 3.svg") no-repeat left top fixed, url("/img/Home/spring-small-compressed.jpg") no-repeat left top fixed;
  height: 100%;
  background-size: cover;
  position: relative; }
  #home .cover {
    background: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed; }
  #home a {
    color: inherit; }
  #home .fa-chevron-circle-down {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
    width: 36px;
    cursor: pointer;
    color: black;
    opacity: .55; }
  #home .text {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%; }

#welcome {
  height: 100%;
  background-size: cover;
  position: relative; }
  #welcome a {
    color: inherit; }
  #welcome .fa-chevron-circle-up {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
    width: 36px;
    cursor: pointer;
    color: black;
    opacity: .55; }
  #welcome .flex {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #welcome .flex > * {
      margin: 0 60px; }
  #welcome .background-img {
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%; }
  #welcome .text {
    text-align: center;
    max-width: 480px;
    color: black; }
    #welcome .text h1 {
      font-size: 64px;
      margin-bottom: 34px; }
    #welcome .text p {
      font-size: 27px; }
    #welcome .text i {
      font-weight: bold; }
  #welcome .img-container img {
    width: 400px;
    height: 400px; }

#chiropractic {
  background: url("/img/Chiropractic/balance.jpg") no-repeat center center;
  height: 100%;
  background-size: cover; }
  #chiropractic .text {
    padding: 40px;
    position: relative; }
  #chiropractic .text {
    width: 600px;
    color: white; }

#ak {
  background: url("/img/AK/walk.jpg") no-repeat left bottom;
  height: 100%;
  background-size: cover;
  position: relative; }
  #ak .text {
    max-width: 468px;
    position: absolute;
    bottom: 50px;
    left: 10%;
    color: white; }
    #ak .text h1 {
      text-align: left; }

#rnr {
  background: url("/img/RNR/child.jpg") no-repeat right center;
  height: 100%;
  background-size: cover; }
  #rnr .text {
    padding: 40px;
    position: relative; }
  #rnr .text {
    max-width: 800px;
    color: white; }
    #rnr .text h1 {
      text-align: left; }

#lifestyle {
  background: url("/img/Lifestyle/hiker.jpg") no-repeat left center;
  height: 100%;
  background-size: cover; }
  #lifestyle .text {
    padding: 40px;
    position: relative; }
  #lifestyle .text {
    color: white;
    max-width: 600px; }
    #lifestyle .text h1 {
      text-align: left; }

#hra {
  background: url("/img/HRA/tape.jpg") no-repeat center center;
  height: 100%;
  background-size: cover; }
  #hra .gradient-cover-white {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(to right, white, transparent 60%); }
  #hra .text {
    padding: 40px;
    position: relative; }
  #hra .text {
    max-width: 700px;
    color: black; }
    #hra .text h1 {
      text-align: left; }

#government {
  background: url("/img/Government/meadow.jpg") no-repeat center center;
  height: 100%;
  background-size: cover; }
  #government .text {
    padding: 40px;
    position: relative; }
  #government .text {
    max-width: 700px;
    padding: 40px;
    color: white; }
    #government .text h1 {
      text-align: left; }

#about {
  background: url("/img/About/about.jpg") no-repeat center center;
  height: 100%;
  background-size: cover;
  position: relative;
  /* always present */
  /* .expand-enter defines the starting state for entering */
  /* .expand-leave defines the ending state for leaving */ }
  #about .text {
    padding: 40px;
    position: relative; }
  #about .accordion-item {
    margin: 20px 0; }
  #about .accordion-heading {
    cursor: pointer; }
  #about h1, #about h2, #about h3, #about h4, #about h5 {
    margin: 0; }
  #about .expand-transition {
    transition: all 0.3s ease;
    height: auto;
    padding: 10px;
    overflow: hidden; }
  #about .expand-enter, #about .expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0; }
  #about .text {
    max-width: 700px;
    max-height: 100%;
    overflow: scroll;
    color: white;
    position: absolute;
    right: 40px; }

#contact {
  position: relative;
  height: 100%; }
  #contact .map {
    height: 100%;
    padding-top: 34px; }
    #contact .map iframe {
      width: 100%;
      height: 100%; }
  #contact .text-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 60px;
    position: absolute;
    bottom: 40px;
    width: 100%; }
    #contact .text-container .text {
      background: black;
      opacity: .8;
      padding: 40px;
      color: white; }
      #contact .text-container .text .flex {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        #contact .text-container .text .flex .fa-at {
          font-size: 12px; }
        #contact .text-container .text .flex > * {
          margin: 0 20px; }

.services a {
  color: #41b920; }

.services p {
  font-weight: 400;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto 10px; }

/*# sourceMappingURL=app.css.map */