@mixin backgroundImage {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin arrow {
	.arrow {
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 23px;
		font-weight: bold;
		padding-top: 3px;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		cursor: pointer;
		color: white;
		background: black;
		opacity: .55;
		font-family: 'Architects Daughter';
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 9;
	}

}

@mixin cover {
	.cover {
		background: black;
		opacity: 0.4;
		width: 100%;
		height: 100%;
		top: 0;
		position: fixed;
	}
}

@mixin gradientCover {
	.gradient-cover {
		opacity: 0.9;
		width: 100%;
		height: 100%;
		top: 0;
		position: fixed;
		background: linear-gradient(to right, rgba(0,0,0,0) 45%, rgba(0,0,0,.5) 60%, rgba(0,0,0,.7) 65%, rgba(0,0,0,.9) 90%);
	}
}

@mixin gradientCoverWhite {
	.gradient-cover-white {
		opacity: 0.9;
		width: 100%;
		height: 100%;
		position: fixed;
		background: linear-gradient(to right, white, rgba(0,0,0,0) 60%);
	}
}

@mixin text {
	.text {
		padding: 40px;
		//So it appears above the black cover
		position: relative;
		margin-top: 28px;
	}
}

@mixin accordion {
	.accordion-item {
		margin: 20px 0;
		position: relative;
		@include expand;
		.accordion-heading {
			cursor: pointer;
			font-size: 23px;
			color: white;
			font-family: "Josefin Sans";
			font-weight: bold;
		}
		h1,h2,h3,h4,h5 {
			//So the transition isn't jerky
			margin: 0;
		}
	}
}
