@mixin backgroundImage {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin currentPage {
	text-decoration: underline !important;
	color: rgba(255,255,255,.9);
}

@mixin arrow {
	.arrow {
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 40px;
		width: 35px;
		cursor: pointer;
		color: black;
		opacity: .55;
		z-index: 9;
	}
}

@mixin animatedArrow {
	.arrow {
		animation-name: arrow;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
	}

	@keyframes arrow {
		0% {bottom: 15px;}
		50% {bottom: 25px;}
		100% {bottom: 15px;}
	}
}

@mixin cover {
	.cover {
		background: black;
		opacity: 0.4;
		width: 100%;
		height: 100%;
		top: 0;
		position: fixed;
	}
}

@mixin gradientCover {
	.gradient-cover {
		opacity: 0.9;
		width: 100%;
		height: 100%;
		top: 0;
		position: fixed;
		background: linear-gradient(to right, rgba(0,0,0,0) 45%, rgba(0,0,0,.5) 60%, rgba(0,0,0,.7) 65%, rgba(0,0,0,.9) 90%);
	}
}

@mixin text {
	.text {
		padding: 68px 40px 40px 40px;
		////So it appears above the black cover
		position: relative;
	}
}

@mixin link {
	a {
		color: white;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid white;
		}
	}
}
