@mixin backgroundImage {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin arrow {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	width: 36px;
	cursor: pointer;
	color: black;
	opacity: .55;
}

@mixin cover {
	.cover {
		background: black;
		opacity: 0.4;
		width: 100%;
		height: 100%;
		top: 0;
		position: fixed;
	}
}

@mixin gradientCover {
	.gradient-cover {
		opacity: 0.9;
		width: 100%;
		height: 100%;
		top: 0;
		position: fixed;
		background: linear-gradient(to right, rgba(0,0,0,0) 45%, black 60%);
	}
}

@mixin gradientCoverWhite {
	.gradient-cover-white {
		opacity: 0.9;
		width: 100%;
		height: 100%;
		position: fixed;
		background: linear-gradient(to right, white, rgba(0,0,0,0) 60%);
	}
}

@mixin text {
	.text {
		padding: 40px;
		//So it appears above the black cover
		position: relative;
		margin-top: 28px;
	}
}

@mixin accordion {
	.accordion-item {
		margin: 20px 0;
		position: relative;
		@include expand;
	}
	.accordion-heading {
		cursor: pointer;
		font-size: 23px;
		color: white;
	}
	h1,h2,h3,h4,h5 {
		//So the transition isn't jerky
		margin: 0;
	}
}
