@mixin backgroundImage {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin arrow {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	width: 36px;
	cursor: pointer;
}

@mixin cover {
	.cover {
		background: black;
		opacity: 0.4;
		width: 100%;
		height: 100%;
		position: fixed;
	}
}

@mixin gradientCover {
	.gradient-cover {
		opacity: 0.9;
		width: 100%;
		height: 100%;
		position: fixed;
		background: linear-gradient(to right, rgba(0,0,0,0), black 60%);
	}
}

@mixin text {
	.text {
		padding: 40px;
		//So it appears above the black cover
		position: relative;
	}
}
