@mixin backgroundImage {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin arrow {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	width: 36px;
	cursor: pointer;
}
