@mixin backgroundImage {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin arrow {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	width: 36px;
	cursor: pointer;
}

@mixin cover {
	.cover {
		background: black;
		opacity: 0.2;
		//top: 0;
		//left: 0;
		//bottom: 0;
		//right: 0;
		//position: fixed;
		//z-index: -1;
		width: 100%;
		height: 100%;
		position: fixed;
	}
}
