@mixin expand {
    /* always present */
    .expand-transition {
        transition: all .3s ease;
        height: auto;
        padding: 10px;
        overflow: hidden;
    }

    /* .expand-enter defines the starting state for entering */
    /* .expand-leave defines the ending state for leaving */
    .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }
}

//Slide transition

/* always present */
.slide-transition {
    //transition: all 5s ease;
    //right: 0;
    //height: auto;
    //padding: 10px;
    //overflow: hidden;
    //background: pink;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.slide-enter {
    animation: slideInLeft 1s;
    //right: 1000px;
    //height: 0;
    //padding: 0 10px;
    //opacity: 0;
    //background: black;
}

.slide-leave {
    //animation: slideOutRight 2s;
    //left: 1000px;
}