#about {
	display: flex;
	h3 {
//		color: #5ED222;
        color: $mediumGreen;
	}
	a {
//		color: #FFA900;
        color: $brown;
	}
	p {
		font-size: 17px;
		font-weight: 400;
		color: #777;
	}
	li {
		color: #777;
	}
	.side-tabs {
		background: white;
		border-radius: 4px;
		margin-right: 20px;
		li {
			white-space: nowrap;
			cursor: pointer;
			padding: 5px 17px;
			transition: all, .3s, ease;
			&:hover {
				background: $brightGreen;
				font-size: 16px;
			}
		}
	}
    .img-container {
        width: 100%;
        img {
            width: 384px;
            margin-left: 17px;
            margin-top: 30px;
            border-radius: 30px;
        }
    }

}