#navbar {
    display:flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0, .6);
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: 'Josefin Sans';
    img.logo {
        height: 20px;
        width: 15px;
    }
    > li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $navHeight;
        min-width: 80px;
        &:not(:first-child) {
            min-width: 120px;
        }
        > a {
            transition: all .2s ease;
            color: rgba(255,255,255, .6);
            //To center vertically because space is allowed for the underline
            padding-top: 3px;
            //.fa-chevron-down, .fa-chevron-up {
            //    font-size: 14px;
            //}
        }
        &:hover {
            > a {
                font-size: 20px;
                color: rgba(255,255,255,.9);
                text-decoration: none;
            }
        }
        &.services {
            a {
                &:focus {
                    outline: none;
                    text-decoration: none;
                }
                &:first-child {
                    padding-right: 2px;
                }
                &.arrow-container {
                    margin-bottom: 2px;
                    padding-left: 2px;
                    .fa-chevron-down, .fa-chevron-up {
                        font-size: 9px;
                    }
                }
            }
            #services-dropdown-menu {
                background: rgba(64,64,64, .9);
                white-space: nowrap;
                position: absolute;
                left: 0;
                top: $navHeight + 1;
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
                border: 1px solid rgba(0,0,0,.15);
                border-radius: 4px;
                &.contact-page-services-dropdown-menu {
                    background: rgba(64,64,64, .9);
                }
                .tab {
                    padding: 3px 11px;
                }
                a {
                    color: white;
                    font-weight: normal;
                }
                .current-tab {
                    a {
                        @include currentPage;
                    }
                }
            }
        }
        &.current-page {
            > a {
                @include currentPage;
            }
        }
    }
    a {
        font-weight: bold;
    }
    .gravatar-li {
        min-width: 160px;
        .gravatar-container {
            margin-left: 5px;
            display: flex;
            align-items: center;
            .gravatar {
                border-radius: 8px;
                height: 32px;
            }
        }
    }
    &.contact-page-nav {
        background: black;
        opacity: .9;
    }

    @media (max-width: 425px) {
        li {
            min-width: 65px !important;
        }
    }
    @media (max-width: 265px) {
        font-size: 14px;
    }

    @media (max-width: 945px) {
        #services-tabs {
            display: none;
        }
    }
    @media (min-width: 945px) {
        #services-dropdown-menu {
            display: none;
        }
    }
}