#navbar {
    display:flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
//    color: #888;
    background: black;
    opacity: .55;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: 'Josefin Sans';
    img.logo {
        height: 20px;
        width: 15px;
    }
    > li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $navHeight;
        min-width: 80px;
        &:not(:first-child) {
            min-width: 120px;
        }
        > a {
            transition: all .2s ease;
            color: white;
            //To center vertically because space is allowed for the underline
            padding-top: 3px;
        }
        &:hover {
            > a {
                font-size: 20px;
            }
        }
        .dropdown-menu {
            a {
                color: #777;
                &:hover {
                    background: $base;
                    color: white;
                }
            }

        }
    }
    a {
        font-weight: bold;
    }
    .gravatar-li {
        min-width: 160px;
        .gravatar-container {
            margin-left: 5px;
            display: flex;
            align-items: center;
            .gravatar {
                border-radius: 8px;
                height: 32px;
            }
        }
    }
}


//#navbar {
//	display: flex;
//	flex-wrap: wrap;
//	> * {
//		flex: 1;
//	}
//    img {
//        height: 20px;
//        width: 15px;
//    }
//
//	position: fixed;
//	align-items: stretch;
//	top: 0;
//	width: 100%;
//	height: 40px;
//	background: white;
//	z-index: 9;
//	li {
//		// text-align: center;
//		// padding: 12px 0;
//		// height: 34px;
//		color: #777;
//		display: flex;
//		align-items: center;
//		justify-content: center;
//		position: relative;
//		cursor: pointer;
//		ul {
//			visibility: hidden;
//			position: absolute;
//			left:0;
//			top: 35px;
//			width: 100%;
//			background: white;
//			// &:hover {
//			// 	visibility: visible;
//			// }
//		}
//		&:hover > ul {
//			visibility: visible;
//		}
//	}
//}
//
//@media all and (max-width: 500px) {
//	#nav {
//		// display: none;
//		// flex-direction: column;
//		.fa {
//			font-size: 14px;
//		}
//	}
//}