.tabs {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 37px;
    z-index: 9;
    font-family: 'Josefin Sans';
    //background: black;
    //opacity: .5;
    background: rgba(64,64,64, .6);
    .tab {
        flex-grow: 1;
        padding: 6px 0;
        &:not(:last-child) {
            .tab-inner {
                border-right: 1px solid white;
            }
        }
        &.current-tab {
            background: rgba(0,0,0,.55);
            a {
                @include currentPage;
            }
            .tab-inner {
                border: none;
            }
        }
        &.next-to-current-tab {
            .tab-inner {
                border: none;
            }
        }
        .tab-inner {
            padding-top: 3px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            color: rgba(255,255,255, .6);
        }
        &:hover {
            a {
                color: rgba(255,255,255,.9);
                text-decoration: none;
            }
        }
    }

    @media (max-width: 945px) {
        display: none;
        //display: block;
        //.tab {
        //    //display: flex;
        //    //justify-content: center;
        //    padding-left: 8px;
        //    .tab-inner {
        //        border: none !important;
        //        display: inline-block;
        //        //width: 198px;
        //    }
        //}

    }
}
