.slider-container {
    height: 100%;
    .slider-navigation {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        height: 30px;
        .slider-navigation-item {
            transition: all, .5s, ease;
            cursor: pointer;
            margin: 5px 4px;
            font-size: 16px;
            &.current-step {
                color: black;
            }
        }
    }

    .slider-content {
        height: 436px;
        position: relative;
        div {
            //So the transition isn't jerky
            margin: 0;
            padding: 0;
            height: 100%;
            //Needed for the transition to work nicely,
            //so one doesn't appear below the other during the transition
            position: absolute;
            //&:not(:first-child) {
            //    opacity: 0;
            //}
        }
    }
}