@mixin accordion {
    .accordion {
        .accordion-item {
            .expanded {
                text-decoration: underline;
            }
            .accordion-heading {
                cursor: pointer;
                font-size: 23px;
                color: white;
                font-family: "Josefin Sans";
                font-weight: bold;
                display: inline-block;
                &:hover {
                    text-decoration: underline;
                }
            }
            .accordion-text {
                display: none;
            }
        }
    }

}