.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.margin-bottom {
	margin-bottom: 15px;
}

.border-box {
	box-sizing: border-box;
}

.btn-xs {
	font-size: 8px;
	padding: 1px;
}

// =================================bubbles=================================

.bubble-row {
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	> * {
		background: white;
		border-radius: 8px;
		padding: 15px;
		width: 280px;
	}
}

// =================================font=================================

.font-size-sm {
	font-size: 15px;
}

.font-size-md {
	font-size: 20px;
}

// =================================button dropdown=================================

.my-btn-dropdown {
	width: 124px;
	button {
		width: 100%;
	}
	ul {
		position: absolute;
		width: 124px;
		text-align: right;
	}
}

.my-row {
	//for holding my button dropdown
	height: 34px;
	position: relative;
}

// =================================input group=================================

.my-input-group {
	input, button {
		display: block;
		width: 100%;
	}
}

// =================================button group=================================

.my-btn-group {
	display: flex;
	display: -webkit-flex;
	button {
		display: block;
		width: 100%;
	}
}

//=====================flex-parent properties:=====================
//display: flex | inline-flex
//flex-direction: row | row-reverse | column | column-reverse
//justify-content //defines alignment on the main axis: flex-start | flex-end | center | space-between //1st and last items on end of lines | space-around
//align-items //the justify-content version for the cross-axis: flex-start | flex-end | center | baseline //items are aligned such as their baselines align | stretch //default
//align-content: 
//flex-wrap: nowrap | wrap | wrap-reverse
//flex-flow: flex-direction flex-wrap //shorthand, didn't work with Firefox
//=====================flex-child properties:=====================
//order
//flex-grow
//flex-shrink
//flex-basis
// flex: grow, shrink, basis //shorthand
//align-self //overide the alignment for individual flex items
//=======================end flex properties:=======================

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 15px;
	> * {
		margin: 15px 15px;
	}
}

.col-sm-2 {
	flex-basis: 135px;
}