#logo {
    text-align: center;
    font-family: 'avenir next condensed';
    margin-top: 30px;
    font-size: 100px;
    #logo-upper {
        color: $base;
        text-shadow: 3px 3px 5px #bcbcbc;
        .word1, .word3 {
            font-weight: 900;
        }
    }
    #logo-lower {
        visibility: hidden;
        margin-top: -25px;
        font-size: 34px;
        color: #777;
        span:not(:last-child) {
            margin-right: 35px;
        }
    }
}