#ak {
    background: url('/img/AK/walk-small-compressed.jpg') no-repeat left bottom;
    @include backgroundImage;
    position: relative;
    .text {
        max-width: 680px;
        position: absolute;
        bottom: 50px;
        left: 10%;
        color: white;
        font-size: 20px;
        height: auto;
        h1 {
            margin-bottom: 40px;
            text-align: left;
            font-size: 60px;
        }
    }
    @media (max-width: 320px) {
        @include text;
        .text {
            padding-top: 94px;
            left: 0;
            height: 100%;
        }
    }
    .scrollbar-container {
        .mCSB_draggerContainer {
            .mCSB_dragger {
                .mCSB_dragger_bar {
                    background: white;
                }
            }
        }
    }
}