#government {
    background: url('/img/Government/meadow-small-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .text {
        max-width: 700px;
        padding: 40px;
        color: white;
        h1, h5 {
            text-align: left;
        }
    }
}