#government {
    background: url('/img/Government/meadow-small-compressed.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .cover {
        opacity: .3;
    }
    .text {
        max-width: 740px;
        color: white;
        font-size: 20px;
        padding: 98px 40px 0 40px;
        p:not(:last-child) {
            margin-bottom: 26px;
        }
        h1, h5 {
            text-align: left;
        }
        h1 {
            font-size: 60px;
            margin-bottom: 40px;
        }
        a {
            color: white;
        }
    }
}