#hra {
    background: url('/img/HRA/tape-small.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .gradient-cover {
        opacity: 1;
        background: linear-gradient(to left, transparent 25%, rgba(255, 255, 255, 0.75) 55%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 1) 95%);
    }
    .text {
        color: black;
        height: 100%;
        max-width: 700px;
        margin-top: 18px;
        padding: 90px 58px 58px;
        p {
            font-size: 18px;
            &:not(:last-child) {
                margin-bottom: 26px;
            }
        }
        h1 {
            text-align: left;
            font-size: 58px;
            margin-bottom: 36px;
        }
    }
}