#hra {
    background: url('/img/HRA/tape-small.jpg') no-repeat center center;
    @include backgroundImage;
    @include text;
    .hra-gradient-cover {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        background: linear-gradient(to left, rgba(255,255,255,0) 25%, rgba(255, 255, 255, 0.75) 55%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 1) 95%);
    }
    .text {
        color: black;
        height: 100%;
        max-width: 700px;
        padding: 112px 58px 58px;
        p {
            font-size: 18px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        h1 {
            text-align: left;
            font-size: 58px;
            margin-bottom: 28px;
        }
    }
    @media (max-width: 580px) {
        .text {
            padding-top: 58px;
        }
    }
}