#hra {
    background: url('/img/HRA/tape-small.jpg') no-repeat center center;
    @include backgroundImage;
    @include gradientCoverWhite;
    @include text;
    .gradient-cover-white {
        opacity: 1;
        background: linear-gradient(to left, transparent 25%, rgba(255, 255, 255, 0.75) 55%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 1) 95%);
    }
    .text {
        margin-top: 18px;
        padding: 58px;
        max-width: 700px;
        color: black;
        h1 {
            text-align: left;
            font-size: 53px;
            margin-bottom: 30px;
        }
    }
}