#lifestyle {
    background: url('/img/Lifestyle/hiker-small-compressed.jpg') no-repeat left center;
    @include backgroundImage;
    @include text;
    .cover {
        opacity: .5;
    }
    .text {
        color: white;
        font-size: 20px;
        padding: 115px 40px 40px;
        p {
            max-width: 520px;
            &:not(:last-child) {
                margin-bottom: 26px;
            }
        }
        h1 {
            text-align: left;
            font-size: 58px;
            margin-bottom: 32px;
        }
    }
    @media (max-width: 920px) {
        .text {
            padding-top: 58px;
        }
    }
    @include scrollbarContainer(white);
    .scrollbar-container {
        height: 100%;
    }
}