#rnr {
    background: url('/img/RNR/child-small-compressed.jpg') no-repeat right center;
    @include backgroundImage;
    @include text;
    .cover {
        opacity: .45;
    }
    .text {
        max-width: 750px;
        color: white;
        font-size: 18px;
        padding-top: 97px;
        padding-bottom: 0;
        p {
            margin-bottom: 20px;
            a {
                color: white;
            }
        }
        //color: black;
        //height: 100%;
        //max-width: 700px;
        ////margin-top: 18px;
        //padding: 58px;
        //padding-top: 76px;
        //p {
        //    font-size: 20px;
        //    &:not(:last-child) {
        //        margin-bottom: 26px;
        //    }
        //}
        h1 {
            text-align: left;
            font-size: 56px;
            margin-bottom: 24px;
        }
    }
    @media (max-width: 920px) {
        @include text;
        .text {
            padding-top: 58px;
        }
    }

    @include scrollbarContainer(white);
    .scrollbar-container {
        height: 100%;
    }
}