#rnr {
    background: url('/img/RNR/child-small-compressed.jpg') no-repeat right center;
    @include backgroundImage;
    @include text;
    @include scrollbarContainer(white);
    @include cover(black, .45);

    .text {
        max-width: 750px;
        color: white;
        font-size: 18px;
        padding-top: 97px;
        padding-bottom: 0;
        p {
            margin-bottom: 20px;
            a {
                color: white;
            }
        }
        h1 {
            text-align: left;
            font-size: 56px;
            margin-bottom: 24px;
        }
    }
    @media (max-width: 920px) {
        @include text;
        .text {
            padding-top: 58px;
        }
    }

    .scrollbar-container {
        height: 100%;
    }
}