@mixin cover($background:black, $opacity:0.4) {
    .cover {
        background: $background;
        opacity: $opacity;
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
    }
}

@mixin gradientCover {
    .gradient-cover {
        opacity: 0.9;
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        background: linear-gradient(to right, rgba(0,0,0,0) 45%, rgba(0,0,0,.5) 60%, rgba(0,0,0,.7) 65%, rgba(0,0,0,.9) 90%);
    }
}