.popup-inner-transition {
    animation-duration: 1s;
}
.popup-outer-transition {
    animation-duration: 1s;
}

.fade-transition {
    &.fadeIn {
        animation-delay: .5s;
        animation-duration: 1s;
    }
    &.fadeOut {
        animation-duration: .5s;
    }
}
//.fade-leave {
//    animation-duration: .5s;
//}
//.fade-enter {
//    animation-delay: 2s;